<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>	
</head>
	<body>
	<%= render 'layouts/header'%>
		<div class="container">	
			<% flash.each do |key, value|%>
				<%= content_tag(:div, value, class: "alert alert-#{key}")%>
			<% end %>
			<%= yield %>
			
			<div id="getStarted">
				<h2>Start your playlist: Select an activity</h2>
				<p>You will be prompted to sign in via <span class="twitter_icon"></span></p>
			</div>
			
			<div id="iWantTo"> 
				
				<div class="row">
					<div id="wakeUp" class="action span4">
						<span class="hash">#WakeUp</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="doWork" class="action span4">
						<span class="hash">#DoWork</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="getBig" class="action span4">
						<span class="hash">#GetBig</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
				</div><!--.row-->
				
				<div class="row">
					<div id="getDrunk" class="action span4">
						<span class="hash">#GetDrunk</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="hookUp" class="action span4">
						<span class="hash">#HookUp</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="passOut" class="action span4">
						<span class="hash">#PassOut</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
				</div><!--.row-->
					
			</div> <!-- #iWantTo -->
			
			<div id="tweetThis">
				
				<div id="createPlaylist">
					<h2>Get input from your friends</h2>
					<p>Submit your tweet to get your playlist</p>
				</div>
			
			
				<div class="row">
					<div id="tweetThisForm" class="span8 offset2">
						<form>
							<textarea>This is the maximum length of a tweet and should be close to how much space is needed for our text, assuming it is close to the limit, hahaa</textarea>
							<input class="submit" type="submit" value="Tweet it!" />
						</form>
						
					</div><!--#tweetThisForm-->
				</div><!--.row-->
				
			</div><!--#tweetThis-->
			<div id="musicPlayer">
				<div id="listenToPlaylist">
					<h2>This is your #HashTag Playlist</h2>
					<p>Your friends' suggestions will be addded in realtime</p>
				</div>
				
				<div id="playerBackground">
					<p>This is where the player goes</p>
				</div>
			</div>
			
			<%=debug(params) if Rails.env.development?%>
			
		</div><!--.container-->
	</body>
</html>
