<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>	
</head>
	<body>
	<%= render 'layouts/header'%>
		<div class="container">	
			<% flash.each do |key, value|%>
				<%= content_tag(:div, value, class: "alert alert-#{key}")%>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer' %>
			<%=debug(params) if Rails.env.development?%>
			
			<div id="iWantTo"> 
				
				<div class="row">
					<div id="wakeUp" class="action span4">
						<span class="hash">#WakeUp</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="doWork" class="action span4">
						<span class="hash">#DoWork</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="getBig" class="action span4">
						<span class="hash">#GetBig</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
				</div><!--.row-->
				
				<div class="row">
					<div id="getDrunk" class="action span4">
						<span class="hash">#GetDrunk</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="hookUp" class="action span4">
						<span class="hash">#HookUp</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
					<div id="passOut" class="action span4">
						<span class="hash">#PassOut</span>
						<span class="icon"></span>
						<span class="highlight"></span>
					</div>
				</div><!--.row-->
					
			</div> <!-- #iWantTo -->
		</div>
	</body>
</html>
