<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim'%>	
  
  <script src="http://platform.twitter.com/anywhere.js?id=W1fX4UykZTmrZ6jOhUnkYQ&v=1" type="text/javascript"></script>
  
</head>
	<body>
	<%= render 'layouts/header'%>
		<div class="container">	
			<% flash.each do |key, value|%>
				<%= content_tag(:div, value, class: "alert alert-#{key}")%>
			<% end %>
			<%= yield %>

		</div><!--.container-->
	</body>
</html>
